/include/ "system-conf.dtsi"
/ {
   reserved-memory {
      #address-cells = <1>;
      #size-cells = <1>;
      ranges;
  
      reserved: buffer@0x40000000 {
         no-map;
         reg = <0x40000000 0x800 0x0 0x10>;
      };
   };
  
   fbga-driver@0 {
      compatible = "vendor,fbga_drv";
      interrupt-parent = <&intc>;
	  interrupts = <0 29 4>;
      memory-region = <&reserved>;

   };


};
